input, button{
    height: 25px;
}

.result-div{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 20px;
}

.input-div{
    margin-top: 20px;
    margin-left: 20px;
}