body{   
  background: linear-gradient(rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url('images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.container{   
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  padding-top: 65px;
}

.filmP{
  font-family: 'Noto Sans Mono', monospace;
  font-size: 20px;
  color: rgb(225, 210, 40);
}

.btn {
  width: 220px;
  height: 55px;
  padding: 10px;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 13px;
  border: 2px solid rgb(225, 210, 40);
  color: rgb(225, 210, 40);
  background: rgb(57, 57, 57);
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0 10px;
}

#text{
  color: rgb(225, 210, 40);
  margin: 50px 0; 
  position: relative;
}

.infoCharacter, .planet{
  font-family: 'Noto Sans Mono', monospace;
  padding: 8px;
  font-size: 18px;
  color: rgb(225, 210, 40);
}

.btnForPlanets{
  font-family: 'Noto Sans Mono', monospace;
  background: rgb(57, 57, 57);
  border: 2px solid rgb(225, 210, 40);
  color: rgb(225, 210, 40);
  border-radius: 15px;
  width: 100px;
  height: 40px;
  margin: 30px;
  outline: none;
}

.input{
  color: rgb(225, 210, 40);
  background: rgb(57, 57, 57);
  width: 70px;
  height: 55px;
  margin: 0 auto 30px;
  border: 2px solid rgb(225, 210, 40);
  padding: 0;
  border-radius: 15px;
  outline: none;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 18px;
  text-align: center;
}

#loading{
  font-family: 'Noto Sans Mono', monospace;
  font-size: 18px;
  position: absolute;
  top: 0;
  left: 47%;
}